.AnnotationHub/
.CFUserTextEncoding
.Rhistory
.Rprofile.bak
.Trash/
.Xauthority
.aliases
.android/
.appIetviewer
.bash_history
.bash_sessions/
.cache/
.ccache/
.cfncluster/
.cmake/
.collapsabel/
.conda/
.config/
.cpan/
.cups/
.docker/
.dropbox/
.eclipse/
.emacs
.emacs.d/
.emacs_Markus
.fasd
.fasd-init-cache
.freemind/
.gem/
.gitconfig
.gitignore_global
.gitk
.gnupg/
.gnupg_pre_2.1/
.gnuplot_history
.gplink_config
.gradle/
.hgignore_global
.idlerc/
.install4j
.ipython/
.irssi/
.ivy2/
.jenv/
.julia/
.jupyter/
.keras/
.kodi/
.latexmkrc
.lesshst
.local/
.m2/
.matlab/
.matplotlib/
.mcf/
.mediathek3/
.mono/
.mysql_history
.nuuid.ini
.octave_hist
.octaverc
.oracle_jre_usage/
.p2/
.parallel/
.pip/
.prefs/
.pversion
.python_history
.recentf
.rnd
.rstudio-desktop/
.sage/
.serverauth.22328
.serverauth.60370
.sh_history
.slurm.batchtools.tmpl
.slurm.tmpl
.sqlite_history
.ssh/
.starcluster/
.subversion/
.swfinfo
.swt/
.tor/
.user_profile.ipa
.viminfo
.virtualenvs/
.wget-hsts
.wine/
.xdvirc
.zcompdump
.zcompdump-gola-5.1.1
.zcompdump-gola-5.2
.zcompdump-gola-5.3
.zcompdump-gola-5.3.1
.zcompdump-gola-5.4.1
.zcompdump-gola-5.4.2
.zenmap-etc/
.zsh-update
.zsh_history
.zshenv
.zshrc
.zshrc-e
.zshrc.pre-oh-my-zsh
AndroidStudioProjects/
Applications/
Calibre Library/
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
Pictures/
Public/
Sandbox/
Scripts/
VirtualBox VMs/
bin/
dev/
ownCloud/
ownCloudCRU303/
ownCloudIMBS/
ownCloudSymatrial/
perl5/
spark/